*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: roboto;
    line-height: 1.5;
    background-color: #f0f0f0;
    min-height: 100vh;
    font-size: 1.6rem;
}

.section1{
    background-image: url(../img/crosses-2713356_1920.jpg);
    background-color: blue;
    min-height: 100vh;
    background:linear-gradient(rgba(0, 0, 128, 0.4), rgba(0, 0, 128, 0.2)), url(../img/crosses-2713356_1920.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.main-header{
    background-color: #1e3a5f;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.logo img{
    width: 8.5rem;
}

.main-nav ul{
    display: flex;
    list-style-type: none;
    gap: 1rem;
}

.main-nav li a{
    color: white;
    text-decoration: none;
    padding: 10px;
    /* background-color: #f4a261; */
    border-radius: 5px;
    transition: color .2s;
}

.main-nav li:hover a{
    color: #FFB84D;
}

.cta{
    /* background-color: #f4a261; */
    min-height: 100%;
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.title-cta{
    color: white;
    font-family: Merriweather;
    font-size: 4.4rem;
    text-shadow: 3px 3px 5px black;
}

.pesquisar input[type="text"]{
    width: 25rem;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 1.4rem;
    font-family: Merriweather;
    letter-spacing: 1px;
}

.pesquisar input[type="text"]::placeholder{
    color: #ccc;
    font-size: 1.4rem;
    font-style: italic;
}

.pesquisar button[type="submit"]{
    background-color: #FFB84D;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: .2s;
}

.pesquisar button[type="submit"]:hover{
    background-color: #FFA500;
}